* {
	margin: 0;
	box-sizing: border-box;
	color: #141414;
	font-size: 1rem;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
}

body {
	background-color: #f5f5f5;
	min-height: 100vh;
}

.nav-container {
	border-bottom: 1px solid rgb(192, 192, 192);
}

.nav {
	margin: 0 auto;
	height: 60px;
	width: 60%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav div * {
	display: inline;
	margin-left: 20px;
	text-decoration: none;
}

.nav-item {
	/* text-transform: uppercase;
	letter-spacing: 1px; */
	font-size: 1.2rem;
	cursor: pointer;
}

.logo {
	font-size: 1.7rem;
	font-weight: 600;
}

.login,
.sign-up {
	border: 0;
	font-weight: 500;
	color: #fff;
	border-radius: 7px;
	padding: 7px 10px;
	cursor: pointer;
	transition: border-radius, 0.2s;
}

.login:hover,
.sign-up:hover {
	box-shadow: 0 0 0 0.7em transparent;
}

.login:hover {
	animation: pulse-login 0.5s;
}

.sign-up:hover {
	animation: pulse-sign-up 0.5s;
}

.login {
	background-color: #ff928a;
}

.sign-up {
	background-color: #ee2f21;
}

.language-section {
	position: relative;
	top: 5px;
}

.language-section * {
	margin: 0 !important;
}

.language-section img {
	cursor: pointer;
	transform: scale(0.8);
}

.image-deviser {
	color: #a0a0a0b2;
	position: relative;
	margin: 0 5px !important;
	top: -3px;
}

@keyframes pulse-sign-up {
	0% {
		box-shadow: 0 0 0 0 #ee2f21;
	}
}

@keyframes pulse-login {
	0% {
		box-shadow: 0 0 0 0 #ee2f21;
	}
}
