* {	margin: 0;
	box-sizing: border-box;
	color: #141414;
	font-size: 1rem;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	color: #fff;
}

body {
	background-color: #f0695f;
	min-height: 100vh;
}

.nav-container {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
}

.nav {
	margin: 0 auto;
	height: 60px;
	width: 75%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav div * {
	display: inline;
	margin-left: 30px;
	text-decoration: none;
}

.nav-item,
.login,
.sign-up,
.language {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 1.1rem;
	cursor: pointer;
}

.logo {
	font-size: 1.7rem;
	font-weight: 600;
}

.login {
	background: 0;
}

.login,
.sign-up {
	border: 0;
}

.sign-up {
	background-color: #fff;
	color: #ee2f21;
	border-radius: 7px;
	padding: 7px 10px;
	transition: border-radius, 0.2s;
}

.sign-up:hover {
	box-shadow: 0 0 0 0.6em transparent;
	animation: pulse-sign-up 0.5s;
}

.language {
	font-size: 0.9rem;
}
/* .language-section * {
	margin: 0 !important;
}

.language-section img {
	cursor: pointer;
	transform: scale(0.8);
}

.image-deviser {
	position: relative;
	margin: 0 5px !important;
	top: -3px;
} */

.hero {
	background-image: url(./pictures/hero-background.png);
	background-size: cover;
	background-position: center;
	min-height: 100vh;
	display: flex;
	align-items: center;
}

.motto {
	font-size: 4rem;
	font-weight: 700;
}

.ribbon {
	background-color: #65ff62;
	width: 10%;
	height: 45px;
	margin-top: -190px;
}

.health,
.treasure {
	font-size: 4rem;
	display: block;
	font-weight: 700;
}

.health {
	color: #65ff62;
}

.treasure {
	color: rgb(255, 228, 73);
}

@keyframes pulse-sign-up {
	0% {
		box-shadow: 0 0 0 0 #fff;
	}
}
